$blue0: #62a2f2;
$blue: #5191f1;
$blue2: #4080e0;

.button {
  align-items: center;
  background: $blue;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  height: 30px;
  justify-content: center;
  outline: 0;
  padding: 0 10px;

  &:hover,
  &.hover {
    background: $blue2;
  }

  &:active,
  &.active {
    background: $blue0;
  }

  &.disabled {
    background: $blue;
    cursor: default;
    opacity: 0.7;
  }
}
