.button {
  align-items: center;
  background: var(--color-blue2);
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  height: 30px;
  justify-content: center;
  outline: 0;
  padding: 0 10px;

  &:hover,
  &.hover {
    background: var(--color-blue1);
  }

  &:active,
  &.active {
    background: var(--color-blue3);
  }

  &.disabled {
    background: var(--color-blue2);
    cursor: default;
    opacity: 0.7;
  }
}
